<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main">
      <img class="download" src="img/download-2.png" />
      <p class="text-wrapper">Find a foster animal. Save a life.</p>
      <p class="div">One application. Every shelter. Every animal. Every Life.</p>
      <div class="component"><div class="text-wrapper-2">Start Fostering</div></div>
      <div class="component-2">
        <div class="rectangle"></div>
        <div class="text-wrapper-3">Apply Once</div>
        <p class="one-form-works-for">
          One form.
          <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Works
          for.
          <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All
          shelters.
        </p>
      </div>
      <div class="group">
        <div class="component-3">
          <div class="rectangle"></div>
          <div class="text-wrapper-4">Create a Home</div>
          <p class="p">Take them home as soon as possible</p>
          <img class="icons" src="img/icons-3.png" />
        </div>
      </div>
      <div class="component-wrapper">
        <div class="component-3">
          <div class="rectangle"></div>
          <div class="text-wrapper-5">Find an Animal</div>
          <p class="see-all-available-in">
            See all available in your area<br />
            and by your preferences
          </p>
        </div>
      </div>
      <div class="text-wrapper-6">Instanimals</div>
      <div class="rectangle-2"></div>
      <div class="rectangle-3"></div>
      <div class="rectangle-4"></div>
      <div class="rectangle-5"></div>
      <img class="img" src="img/icons-1.png" />
      <img class="icons-2" src="img/icons-2.png" />
      <p class="its-as-easy-as">Its as easy as&nbsp;&nbsp;1, 2, 3...</p>
      <div class="text-wrapper-7">Success Stories!</div>
      <p class="text-wrapper-8">Real fosters, Real happy families</p>
      <div class="group-2">
        <div class="rectangle-6"></div>
        <div class="rectangle-7"></div>
        <div class="text-wrapper-9">Bruno</div>
        <div class="text-wrapper-10">Labrador Mix</div>
        <img class="download-2" src="img/download-3.png" />
        <p class="found-a-loving">
          Found a loving family in just<br />3 weeks! Two years later he <br />still loves his collar!
        </p>
        <div class="group-3">
          <div class="rectangle-8"></div>
          <div class="text-wrapper-11">Adopted</div>
        </div>
        <p class="he-s-the-bestest-boy">
          “He’s the bestest boy!”<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          --John Doe
        </p>
      </div>
      <div class="group-4">
        <div class="rectangle-9"></div>
        <div class="rectangle-10"></div>
        <div class="text-wrapper-12">Brodie</div>
        <img class="download-3" src="img/download-7.png" />
        <div class="text-wrapper-13">Pitbull Mix</div>
        <p class="text-wrapper-14">Now lives with a caring family!</p>
        <div class="group-5">
          <div class="rectangle-8"></div>
          <div class="text-wrapper-11">Adopted</div>
        </div>
        <p class="he-makes-me-smile">
          “He makes me smile every day!”<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          --Moe Jackson
        </p>
      </div>
      <div class="group-6">
        <div class="rectangle-11"></div>
        <div class="rectangle-12"></div>
        <div class="text-wrapper-15">Lucy</div>
        <div class="text-wrapper-16">Calico Cat</div>
        <p class="found-her-forever">Found her forever home in <br />two months!</p>
        <div class="group-7">
          <div class="rectangle-8"></div>
          <div class="text-wrapper-11">Adopted</div>
        </div>
        <p class="i-can-t-imagine-my">
          “I can’t Imagine my life without her!!”<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          --Macy Bonds
        </p>
        <img class="download-4" src="img/download-6.png" />
      </div>
      <img class="copilot" src="img/copilot-20260228-165652-3.png" />
      <img class="copilot-2" src="img/copilot-20260228-165652-5.png" />
      <img class="copilot-3" src="img/copilot-20260228-165652-4.png" />
      <div class="text-wrapper-17">Trusted By 50+ Shelters</div>
      <p class="text-wrapper-18">Partnering with amazing organizations to find quality foster homes faster</p>
      <img class="download-5" src="img/download-9.png" />
      <img class="download-6" src="img/download-10.png" />
      <img class="download-7" src="img/download-11.png" />
      <img class="download-8" src="img/download-12.png" />
      <div class="rectangle-13"></div>
      <div class="rectangle-14"></div>
      <div class="text-wrapper-19">500+</div>
      <div class="text-wrapper-20">Animals Adopted</div>
      <div class="text-wrapper-21">50+</div>
      <div class="text-wrapper-22">100+</div>
      <div class="text-wrapper-23">Active Foster Families</div>
      <div class="text-wrapper-24">Shelter Partners</div>
      <div class="copilot-wrapper"><img class="copilot-4" src="img/copilot-20260228-165652-2.png" /></div>
      <header class="header">
        <div class="group-8">
          <div class="rectangle-15"></div>
          <img class="copilot-5" src="img/image.png" />
          <div class="group-9">
            <div class="ellipse"></div>
            <div class="text-wrapper-25">👤</div>
          </div>
          <div class="text-wrapper-26">Login</div>
          <div class="text-wrapper-27">Home</div>
          <div class="text-wrapper-28">How it Works</div>
          <div class="text-wrapper-29">Success Stories</div>
          <div class="rectangle-16"></div>
        </div>
      </header>
    </div>
  </body>
</html>
